**CA2 - Notebook 1**

In [ ]:
#importing functionality to be used below

from pyspark.sql import functions as F #quickrun
from pyspark.sql import Row #quickrun
from pyspark.sql.types import * #quickrun
from pyspark.sql import functions as F #quickrun

**Importing initial CSV from Hadoop to begin analysis
    Using the Spark lecture as a basis for import**

In [8]:
#Using the processes oulined in Tutorial 6 (a,b)

flightPerfFilePath = "/ca2/2016.csv" 


# Obtain the dataset
df2016  = spark.read.csv(flightPerfFilePath, header='true')
df2016 .createOrReplaceTempView("FlightPerformance")

#Cache the  dataset 
df2016 .cache()

**EDA using some methodologies learned during lectures**

In [2]:
#SQL Show

spark.sql('select * from FlightPerformance').show(3)

+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|Unnamed: 27|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|2016-01-01|        DL|             1248|   DTW| LAX|        1935|  1935.0|      0.0|    23.0|    1958.0|   2107.0|   13.0|        2144|  2120.0|    -24.0|      0.0|             null|     0.0|           309.0|              285.0|   249.0|  1979.0|         null|         null|     null|          null|               null|       null|
|2016-01-01|        DL|             1251|   ATL| GRR|        2125|  2130.0|      5.0|    13.0|    2143.0|   2315.0|    4.0|        2321|  2319.0|     -2.0|      0.0|             null|     0.0|           116.0|              109.0|    92.0|   640.0|         null|         null|     null|          null|               null|       null|
|2016-01-01|        DL|             1254|   LAX| ATL|        2255|  2256.0|      1.0|    19.0|    2315.0|    542.0|    5.0|         600|   547.0|    -13.0|      0.0|             null|     0.0|           245.0|              231.0|   207.0|  1947.0|         null|         null|     null|          null|               null|       null|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
only showing top 3 rows

In [3]:
# PrintSchema to view columbns and DataTypes

flightPerf.printSchema()

root
 |-- FL_DATE: string (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- Unnamed: 27: string (nullable = true)

**What is DataFrame in PySpark?**

PySpark DataFrames are tables that consist of rows and columns of data. It has a two-dimensional structure wherein every column consists of values of a particular variable while each row consists of a single set of values from each column

In [6]:
# Displaying top row 

df2016.show(1, truncate = False, vertical = True)

-RECORD 0-------------------------
 FL_DATE             | 2016-01-01
 OP_CARRIER          | DL
 OP_CARRIER_FL_NUM   | 1248
 ORIGIN              | DTW
 DEST                | LAX
 CRS_DEP_TIME        | 1935
 DEP_TIME            | 1935.0
 DEP_DELAY           | 0.0
 TAXI_OUT            | 23.0
 WHEELS_OFF          | 1958.0
 WHEELS_ON           | 2107.0
 TAXI_IN             | 13.0
 CRS_ARR_TIME        | 2144
 ARR_TIME            | 2120.0
 ARR_DELAY           | -24.0
 CANCELLED           | 0.0
 CANCELLATION_CODE   | null
 DIVERTED            | 0.0
 CRS_ELAPSED_TIME    | 309.0
 ACTUAL_ELAPSED_TIME | 285.0
 AIR_TIME            | 249.0
 DISTANCE            | 1979.0
 CARRIER_DELAY       | null
 WEATHER_DELAY       | null
 NAS_DELAY           | null
 SECURITY_DELAY      | null
 LATE_AIRCRAFT_DELAY | null
 Unnamed: 27         | null
only showing top 1 row

In [7]:
#Displaying DataTypes
df2016.dtypes

[('FL_DATE', 'string'),
 ('OP_CARRIER', 'string'),
 ('OP_CARRIER_FL_NUM', 'string'),
 ('ORIGIN', 'string'),
 ('DEST', 'string'),
 ('CRS_DEP_TIME', 'string'),
 ('DEP_TIME', 'string'),
 ('DEP_DELAY', 'string'),
 ('TAXI_OUT', 'string'),
 ('WHEELS_OFF', 'string'),
 ('WHEELS_ON', 'string'),
 ('TAXI_IN', 'string'),
 ('CRS_ARR_TIME', 'string'),
 ('ARR_TIME', 'string'),
 ('ARR_DELAY', 'string'),
 ('CANCELLED', 'string'),
 ('CANCELLATION_CODE', 'string'),
 ('DIVERTED', 'string'),
 ('CRS_ELAPSED_TIME', 'string'),
 ('ACTUAL_ELAPSED_TIME', 'string'),
 ('AIR_TIME', 'string'),
 ('DISTANCE', 'string'),
 ('CARRIER_DELAY', 'string'),
 ('WEATHER_DELAY', 'string'),
 ('NAS_DELAY', 'string'),
 ('SECURITY_DELAY', 'string'),
 ('LATE_AIRCRAFT_DELAY', 'string'),
 ('Unnamed: 27', 'string')]

**Querying with the DataFrame API**

With DataFrames, you can start writing your queries using the DataFrame API

In [10]:
# Query Origin with weather delay - weather delay =18
df2016.select("ORIGIN", "WEATHER_DELAY").filter("WEATHER_DELAY = 18").show()

+------+-------------+
|ORIGIN|WEATHER_DELAY|
+------+-------------+
|   SLC|         18.0|
|   JFK|         18.0|
|   ORD|         18.0|
|   ORD|         18.0|
|   ORD|         18.0|
|   PDX|         18.0|
|   ORD|         18.0|
|   SEA|         18.0|
|   SJC|         18.0|
|   LAX|         18.0|
|   DAL|         18.0|
|   AUS|         18.0|
|   SMF|         18.0|
|   LAX|         18.0|
|   LGA|         18.0|
|   FAR|         18.0|
|   DEN|         18.0|
|   DEN|         18.0|
|   DAL|         18.0|
|   LIH|         18.0|
+------+-------------+
only showing top 20 rows

In [11]:
# Query Carrier and Cancellation - Cancelled =1
df2016.select("OP_CARRIER", "CANCELLED").filter("CANCELLED = 1").show()

+----------+---------+
|OP_CARRIER|CANCELLED|
+----------+---------+
|        AS|      1.0|
|        AS|      1.0|
|        AS|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
|        EV|      1.0|
+----------+---------+
only showing top 20 rows

In [12]:
# Using databricks display 
display(df2016)

DataFrame[FL_DATE: string, OP_CARRIER: string, OP_CARRIER_FL_NUM: string, ORIGIN: string, DEST: string, CRS_DEP_TIME: string, DEP_TIME: string, DEP_DELAY: string, TAXI_OUT: string, WHEELS_OFF: string, WHEELS_ON: string, TAXI_IN: string, CRS_ARR_TIME: string, ARR_TIME: string, ARR_DELAY: string, CANCELLED: string, CANCELLATION_CODE: string, DIVERTED: string, CRS_ELAPSED_TIME: string, ACTUAL_ELAPSED_TIME: string, AIR_TIME: string, DISTANCE: string, CARRIER_DELAY: string, WEATHER_DELAY: string, NAS_DELAY: string, SECURITY_DELAY: string, LATE_AIRCRAFT_DELAY: string, Unnamed: 27: string]

In [3]:
# Get count of rows - this process appears much quicker than flightPerf.count() used above
# where processing took much longer
df2016.count()

5617658

In [9]:
# Get the origin and destination where eyeColor like 'LA%'
df2016.select("ORIGIN", "DEST").filter("DEST like 'LA%'").show()

+------+----+
|ORIGIN|DEST|
+------+----+
|   DTW| LAX|
|   MSP| LAX|
|   CVG| LAS|
|   CMH| LAX|
|   LAS| LAX|
|   DTW| LAS|
|   ATL| LAS|
|   HNL| LAX|
|   ATL| LAX|
|   SLC| LAS|
|   DTW| LAS|
|   MSP| LAX|
|   ATL| LAX|
|   MSY| LAX|
|   MIA| LAX|
|   SLC| LAX|
|   MSP| LAS|
|   MSP| LAX|
|   SLC| LAS|
|   DTW| LAX|
+------+----+
only showing top 20 rows

In [10]:
df2016.sort("CANCELLED").show(3)

+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|Unnamed: 27|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|2016-05-24|        AA|              952|   DFW| EWR|         720|   713.0|     -7.0|    15.0|     728.0|   1137.0|    6.0|        1148|  1143.0|     -5.0|      0.0|             null|     0.0|           208.0|              210.0|   189.0|  1372.0|         null|         null|     null|          null|               null|       null|
|2016-05-24|        AA|              955|   RDU| MIA|         615|   608.0|     -7.0|    12.0|     620.0|    800.0|    8.0|         820|   808.0|    -12.0|      0.0|             null|     0.0|           125.0|              120.0|   100.0|   700.0|         null|         null|     null|          null|               null|       null|
|2016-05-24|        AA|              956|   MIA| RDU|        2147|  2235.0|     48.0|    14.0|    2249.0|     31.0|    6.0|        2359|    37.0|     38.0|      0.0|             null|     0.0|           132.0|              122.0|   102.0|   700.0|         38.0|          0.0|      0.0|           0.0|                0.0|       null|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
only showing top 3 rows

In [ ]:
#For selecting all rows, creating so i have all columns available for select when using on Graphs and ML algos

#df2016 = df2016.select('FL_DATE','OP_CARRIER','OP_CARRIER_FL_NUM','ORIGIN','DEST','CRS_DEP_TIME','DEP_TIME','DEP_DELAY','TAXI_OUT','WHEELS_OFF','WHEELS_ON','TAXI_IN','CRS_ARR_TIME','ARR_TIME','ARR_DELAY','CANCELLED','CANCELLATION_CODE','DIVERTED','CRS_ELAPSED_TIME','ACTUAL_ELAPSED_TIME','AIR_TIME','DISTANCE','CARRIER_DELAY','WEATHER_DELAY','NAS_DELAY','SECURITY_DELAY','LATE_AIRCRAFT_DELAY')
#df2016.show()

In [4]:
from pyspark.sql import functions as F

In [14]:
df2016.sort(F.desc("DIVERTED")).show(3)

+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|Unnamed: 27|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|2016-07-30|        AS|              605|   LAS| SEA|        1305|  1305.0|      0.0|    14.0|    1319.0|   1854.0|    7.0|        1535|  1901.0|     null|      0.0|             null|     1.0|           150.0|               null|    null|   867.0|         null|         null|     null|          null|               null|       null|
|2016-07-30|        DL|             1135|   SLC| EWR|        1707|  1721.0|     14.0|    18.0|    1739.0|     23.0|    5.0|        2335|    28.0|     null|      0.0|             null|     1.0|           268.0|               null|    null|  1969.0|         null|         null|     null|          null|               null|       null|
|2016-07-30|        DL|              968|   LGA| MSY|        1600|  2016.0|    256.0|    38.0|    2054.0|   2326.0|    4.0|        1829|  2330.0|     null|      0.0|             null|     1.0|           209.0|               null|    null|  1183.0|         null|         null|     null|          null|               null|       null|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
only showing top 3 rows

In [5]:
#importing to change datatypes

from pyspark.sql.types import DoubleType, IntegerType, StringType, TimestampType

In [13]:
df2016.printSchema()

root
 |-- FL_DATE: string (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- Unnamed: 27: string (nullable = true)

In [15]:
#Testing Dataframe Conversion using Cast Methodology - 
#Though we don’t face it in this dataset, there might be scenarios where Pyspark reads a double as integer or string, 
#In such cases, you can use the cast function to convert types.

df2016 = df2016.withColumn('DISTANCE', F.col('DISTANCE').cast(IntegerType()))

In [16]:
#String converted successfully  - will convert all data once we have joined csv's

df2016.printSchema()

root
 |-- FL_DATE: string (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: integer (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- Unnamed: 27: string (nullable = true)

In [17]:
#Filtering by distance > 100 miles from LAX

df2016.filter((df2016.DISTANCE>100) & (df2016.ORIGIN=='LAX')).show(5)

+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|   FL_DATE|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|CRS_DEP_TIME|DEP_TIME|DEP_DELAY|TAXI_OUT|WHEELS_OFF|WHEELS_ON|TAXI_IN|CRS_ARR_TIME|ARR_TIME|ARR_DELAY|CANCELLED|CANCELLATION_CODE|DIVERTED|CRS_ELAPSED_TIME|ACTUAL_ELAPSED_TIME|AIR_TIME|DISTANCE|CARRIER_DELAY|WEATHER_DELAY|NAS_DELAY|SECURITY_DELAY|LATE_AIRCRAFT_DELAY|Unnamed: 27|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
|2016-01-01|        DL|             1254|   LAX| ATL|        2255|  2256.0|      1.0|    19.0|    2315.0|    542.0|    5.0|         600|   547.0|    -13.0|      0.0|             null|     0.0|           245.0|              231.0|   207.0|    1947|         null|         null|     null|          null|               null|       null|
|2016-01-01|        DL|             1262|   LAX| JFK|        2255|  2248.0|     -7.0|    23.0|    2311.0|    650.0|   11.0|         715|   701.0|    -14.0|      0.0|             null|     0.0|           320.0|              313.0|   279.0|    2475|         null|         null|     null|          null|               null|       null|
|2016-01-01|        DL|             1298|   LAX| KOA|        1730|  1729.0|     -1.0|    13.0|    1742.0|   2118.0|    4.0|        2116|  2122.0|      6.0|      0.0|             null|     0.0|           346.0|              353.0|   336.0|    2504|         null|         null|     null|          null|               null|       null|
|2016-01-01|        DL|             1325|   LAX| MSY|        1100|  1055.0|     -5.0|    14.0|    1109.0|   1612.0|   10.0|        1633|  1622.0|    -11.0|      0.0|             null|     0.0|           213.0|              207.0|   183.0|    1670|         null|         null|     null|          null|               null|       null|
|2016-01-01|        DL|             1354|   LAX| ATL|        2350|  2355.0|      5.0|    14.0|       9.0|    635.0|    6.0|         654|   641.0|    -13.0|      0.0|             null|     0.0|           244.0|              226.0|   206.0|    1947|         null|         null|     null|          null|               null|       null|
+----------+----------+-----------------+------+----+------------+--------+---------+--------+----------+---------+-------+------------+--------+---------+---------+-----------------+--------+----------------+-------------------+--------+--------+-------------+-------------+---------+--------------+-------------------+-----------+
only showing top 5 rows

In [5]:
import pyspark.sql.functions

In [19]:
#We can use groupBy function with a spark DataFrame too. 
#Pretty much same as the pandas groupBy with the exception that you will need to import pyspark.sql.functions

df2016.groupBy(["ORIGIN","OP_CARRIER"]).agg(F.sum("CANCELLED") ,F.max("CANCELLED")).show()

+------+----------+--------------+--------------+
|ORIGIN|OP_CARRIER|sum(CANCELLED)|max(CANCELLED)|
+------+----------+--------------+--------------+
|   BUR|        WN|         267.0|           1.0|
|   JAX|        EV|          67.0|           1.0|
|   KTN|        AS|          25.0|           1.0|
|   MHT|        DL|           3.0|           1.0|
|   PBI|        UA|          43.0|           1.0|
|   ANC|        DL|           0.0|           0.0|
|   LAX|        AA|         286.0|           1.0|
|   LAX|        AS|          23.0|           1.0|
|   BFL|        OO|          26.0|           1.0|
|   EWR|        NK|           8.0|           1.0|
|   HDN|        DL|           0.0|           0.0|
|   PHX|        EV|           0.0|           0.0|
|   RST|        OO|           3.0|           1.0|
|   CHA|        OO|           9.0|           1.0|
|   PHL|        F9|          38.0|           1.0|
|   PVD|        EV|          69.0|           1.0|
|   RIC|        OO|           6.0|           1.0|
|   RSW|        EV|           1.0|           1.0|
|   SEA|        AA|          86.0|           1.0|
|   DAL|        WN|         645.0|           1.0|
+------+----------+--------------+--------------+
only showing top 20 rows

In [11]:
#2017 from HDFS

flightPerfFilePath1 = "/ca2/2017.csv" 

df2017 = spark.read.csv(flightPerfFilePath, header='true')
df2017.createOrReplaceTempView("FlightPerformance")

# Cache the  dataset 
#df2017.cache()

In [12]:
#2018 from HDFS

flightPerfFilePath2 = "/ca2/2018.csv" 

df2018 = spark.read.csv(flightPerfFilePath, header='true')
df2018.createOrReplaceTempView("FlightPerformance")

# Cache the  dataset 
#df2018.cache()

In [14]:
df2017.printSchema()

root
 |-- FL_DATE: string (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- Unnamed: 27: string (nullable = true)

In [25]:
df2018.printSchema()

root
 |-- FL_DATE: string (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: string (nullable = true)
 |-- DEP_TIME: string (nullable = true)
 |-- DEP_DELAY: string (nullable = true)
 |-- TAXI_OUT: string (nullable = true)
 |-- WHEELS_OFF: string (nullable = true)
 |-- WHEELS_ON: string (nullable = true)
 |-- TAXI_IN: string (nullable = true)
 |-- CRS_ARR_TIME: string (nullable = true)
 |-- ARR_TIME: string (nullable = true)
 |-- ARR_DELAY: string (nullable = true)
 |-- CANCELLED: string (nullable = true)
 |-- CANCELLATION_CODE: string (nullable = true)
 |-- DIVERTED: string (nullable = true)
 |-- CRS_ELAPSED_TIME: string (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: string (nullable = true)
 |-- AIR_TIME: string (nullable = true)
 |-- DISTANCE: string (nullable = true)
 |-- CARRIER_DELAY: string (nullable = true)
 |-- WEATHER_DELAY: string (nullable = true)
 |-- NAS_DELAY: string (nullable = true)
 |-- SECURITY_DELAY: string (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: string (nullable = true)
 |-- Unnamed: 27: string (nullable = true)

In [13]:
#Union to bring datasets together

df_all = df2016.union(df2017)

In [14]:
#Union to bring datasets together

df_all = df_all.union(df2018)

In [8]:
df_all.count()

16852974

In [10]:
#cache as we will be using this data quite a lot

df_all.cache()

DataFrame[FL_DATE: string, OP_CARRIER: string, OP_CARRIER_FL_NUM: string, ORIGIN: string, DEST: string, CRS_DEP_TIME: string, DEP_TIME: string, DEP_DELAY: string, TAXI_OUT: string, WHEELS_OFF: string, WHEELS_ON: string, TAXI_IN: string, CRS_ARR_TIME: string, ARR_TIME: string, ARR_DELAY: string, CANCELLED: string, CANCELLATION_CODE: string, DIVERTED: string, CRS_ELAPSED_TIME: string, ACTUAL_ELAPSED_TIME: string, AIR_TIME: string, DISTANCE: string, CARRIER_DELAY: string, WEATHER_DELAY: string, NAS_DELAY: string, SECURITY_DELAY: string, LATE_AIRCRAFT_DELAY: string, Unnamed: 27: string]

Advantages for Caching and Persistence of DataFrame
Cost-efficient – Spark computations are very expensive hence reusing the computations are used to save cost. Time-efficient – Reusing repeated computations saves lots of time.

**Converting DataTypes to numerical when possible**

Also converting the flight date to timestamp as integer didn't present well when tested

In [15]:
#Times Stamp
df_all = df_all.withColumn('FL_DATE', F.col('FL_DATE').cast(TimestampType()))

#Integer
df_all = df_all.withColumn('FOP_CARRIER_FL_NUM', F.col('OP_CARRIER_FL_NUM').cast(IntegerType()))
df_all = df_all.withColumn('CRS_DEP_TIME', F.col('CRS_DEP_TIME').cast(IntegerType()))
df_all = df_all.withColumn('ARR_TIME', F.col('ARR_TIME').cast(IntegerType()))
df_all = df_all.withColumn('DEP_TIME', F.col('DEP_TIME').cast(IntegerType()))
df_all = df_all.withColumn('DEP_DELAY', F.col('DEP_DELAY').cast(IntegerType()))
df_all = df_all.withColumn('TAXI_OUT', F.col('TAXI_OUT').cast(IntegerType()))
df_all = df_all.withColumn('WHEELS_OFF', F.col('WHEELS_OFF').cast(IntegerType()))
df_all = df_all.withColumn('WHEELS_ON', F.col('WHEELS_ON').cast(IntegerType()))
df_all = df_all.withColumn('TAXI_IN', F.col('TAXI_IN').cast(IntegerType()))
df_all = df_all.withColumn('CRS_ARR_TIME', F.col('CRS_ARR_TIME').cast(IntegerType()))
df_all = df_all.withColumn('ARR_DELAY', F.col('ARR_DELAY').cast(IntegerType()))
df_all = df_all.withColumn('CANCELLED', F.col('CANCELLED').cast(IntegerType()))
df_all = df_all.withColumn('CANCELLATION_CODE', F.col('CANCELLATION_CODE').cast(IntegerType()))
df_all = df_all.withColumn('DIVERTED', F.col('DIVERTED').cast(IntegerType()))
df_all = df_all.withColumn('CRS_ELAPSED_TIME', F.col('CRS_ELAPSED_TIME').cast(IntegerType()))
df_all = df_all.withColumn('ACTUAL_ELAPSED_TIME', F.col('ACTUAL_ELAPSED_TIME').cast(IntegerType()))
df_all = df_all.withColumn('AIR_TIME', F.col('AIR_TIME').cast(IntegerType()))
df_all = df_all.withColumn('CARRIER_DELAY', F.col('CARRIER_DELAY').cast(IntegerType()))
df_all = df_all.withColumn('WEATHER_DELAY', F.col('WEATHER_DELAY').cast(IntegerType()))
df_all = df_all.withColumn('NAS_DELAY', F.col('NAS_DELAY').cast(IntegerType()))
df_all = df_all.withColumn('SECURITY_DELAY', F.col('SECURITY_DELAY').cast(IntegerType()))
df_all = df_all.withColumn('LATE_AIRCRAFT_DELAY', F.col('LATE_AIRCRAFT_DELAY').cast(IntegerType()))
df_all = df_all.withColumn('DISTANCE', F.col('DISTANCE').cast(IntegerType())) #quickrun

#quickrun

In [17]:
df_all.printSchema()

root
 |-- FL_DATE: timestamp (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: integer (nullable = true)
 |-- DEP_TIME: integer (nullable = true)
 |-- DEP_DELAY: integer (nullable = true)
 |-- TAXI_OUT: integer (nullable = true)
 |-- WHEELS_OFF: integer (nullable = true)
 |-- WHEELS_ON: integer (nullable = true)
 |-- TAXI_IN: integer (nullable = true)
 |-- CRS_ARR_TIME: integer (nullable = true)
 |-- ARR_TIME: integer (nullable = true)
 |-- ARR_DELAY: integer (nullable = true)
 |-- CANCELLED: integer (nullable = true)
 |-- CANCELLATION_CODE: integer (nullable = true)
 |-- DIVERTED: integer (nullable = true)
 |-- CRS_ELAPSED_TIME: integer (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)
 |-- CARRIER_DELAY: integer (nullable = true)
 |-- WEATHER_DELAY: integer (nullable = true)
 |-- NAS_DELAY: integer (nullable = true)
 |-- SECURITY_DELAY: integer (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: integer (nullable = true)
 |-- Unnamed: 27: string (nullable = true)
 |-- FOP_CARRIER_FL_NUM: integer (nullable = true)

In [10]:
#The following trick helps in displaying in pandas format in my Jupyter Notebook. The .toPandas()function 
#converts a spark dataframe into a pandas Dataframe which is easier to show.

df_all.limit(10).toPandas()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27,FOP_CARRIER_FL_NUM
0,2016-01-01,DL,1248,DTW,LAX,1935,1935,0,23,1958,...,285,249,1979,NaN,NaN,NaN,NaN,NaN,None,1248
1,2016-01-01,DL,1251,ATL,GRR,2125,2130,5,13,2143,...,109,92,640,NaN,NaN,NaN,NaN,NaN,None,1251
2,2016-01-01,DL,1254,LAX,ATL,2255,2256,1,19,2315,...,231,207,1947,NaN,NaN,NaN,NaN,NaN,None,1254
3,2016-01-01,DL,1255,SLC,ATL,1656,1700,4,12,1712,...,193,173,1590,NaN,NaN,NaN,NaN,NaN,None,1255
4,2016-01-01,DL,1256,BZN,MSP,900,1012,72,63,1115,...,188,121,874,72.0,0.0,52.0,0.0,0.0,None,1256
5,2016-01-01,DL,1257,ATL,BNA,1233,1356,83,22,1418,...,66,38,214,43.0,0.0,0.0,0.0,40.0,None,1257
6,2016-01-01,DL,1257,BNA,ATL,1320,1446,86,15,1501,...,58,37,214,3.0,0.0,0.0,0.0,71.0,None,1257
7,2016-01-01,DL,1258,ATL,JAX,945,946,1,19,1005,...,67,45,270,NaN,NaN,NaN,NaN,NaN,None,1258
8,2016-01-01,DL,1258,JAX,ATL,1145,1144,-1,12,1156,...,63,43,270,NaN,NaN,NaN,NaN,NaN,None,1258
9,2016-01-01,DL,1259,ATL,OKC,2110,2107,-3,16,2123,...,137,116,761,NaN,NaN,NaN,NaN,NaN,None,1259

In [8]:
#Drop Duplicates

df_all = df_all.dropDuplicates()

In [12]:
df_all.printSchema()

root
 |-- FL_DATE: timestamp (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: integer (nullable = true)
 |-- DEP_TIME: integer (nullable = true)
 |-- DEP_DELAY: integer (nullable = true)
 |-- TAXI_OUT: integer (nullable = true)
 |-- WHEELS_OFF: integer (nullable = true)
 |-- WHEELS_ON: integer (nullable = true)
 |-- TAXI_IN: integer (nullable = true)
 |-- CRS_ARR_TIME: integer (nullable = true)
 |-- ARR_TIME: integer (nullable = true)
 |-- ARR_DELAY: integer (nullable = true)
 |-- CANCELLED: integer (nullable = true)
 |-- CANCELLATION_CODE: integer (nullable = true)
 |-- DIVERTED: integer (nullable = true)
 |-- CRS_ELAPSED_TIME: integer (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)
 |-- CARRIER_DELAY: integer (nullable = true)
 |-- WEATHER_DELAY: integer (nullable = true)
 |-- NAS_DELAY: integer (nullable = true)
 |-- SECURITY_DELAY: integer (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: integer (nullable = true)
 |-- Unnamed: 27: string (nullable = true)
 |-- FOP_CARRIER_FL_NUM: integer (nullable = true)

In [9]:
#Using Standard Deviation for Outliers
#https://deepnote.com/@rajshekar-2021/Outlier-Detection-Pyspark-069e69af-2c1d-4d4d-884a-92aad276d06f
#https://www.advancinganalytics.co.uk/blog/2020/9/2/identifying-outliers-in-spark-30

stddevdf = (df_all.groupBy("FL_DATE").agg(F.stddev_pop("DEP_DELAY").alias("DEP_DELAY_std_pop"), F.avg("DEP_DELAY").alias("DEP_DELAY_avg")))
outliersremoved = df_all.join(stddevdf, "FL_DATE", "left").filter(F.abs(F.col("DEP_DELAY")-F.col("DEP_DELAY_avg")) <= (F.col("DEP_DELAY_std_pop")*3))

In [10]:
df_all.printSchema()

root
 |-- FL_DATE: timestamp (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: integer (nullable = true)
 |-- DEP_TIME: integer (nullable = true)
 |-- DEP_DELAY: integer (nullable = true)
 |-- TAXI_OUT: integer (nullable = true)
 |-- WHEELS_OFF: integer (nullable = true)
 |-- WHEELS_ON: integer (nullable = true)
 |-- TAXI_IN: integer (nullable = true)
 |-- CRS_ARR_TIME: integer (nullable = true)
 |-- ARR_TIME: integer (nullable = true)
 |-- ARR_DELAY: integer (nullable = true)
 |-- CANCELLED: integer (nullable = true)
 |-- CANCELLATION_CODE: integer (nullable = true)
 |-- DIVERTED: integer (nullable = true)
 |-- CRS_ELAPSED_TIME: integer (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)
 |-- CARRIER_DELAY: integer (nullable = true)
 |-- WEATHER_DELAY: integer (nullable = true)
 |-- NAS_DELAY: integer (nullable = true)
 |-- SECURITY_DELAY: integer (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: integer (nullable = true)
 |-- Unnamed: 27: string (nullable = true)
 |-- FOP_CARRIER_FL_NUM: integer (nullable = true)

In [15]:
# Query Origin with weather delay - weather delay =18
df_all.select("ORIGIN", "WEATHER_DELAY").filter("WEATHER_DELAY = 18").show()

+------+-------------+
|ORIGIN|WEATHER_DELAY|
+------+-------------+
|   BOS|           18|
|   ORD|           18|
|   DEN|           18|
|   ORD|           18|
|   ATL|           18|
|   LGA|           18|
|   HOU|           18|
|   LIH|           18|
|   ORD|           18|
|   ORD|           18|
|   FLL|           18|
|   PHL|           18|
|   ORF|           18|
|   EWR|           18|
|   AUS|           18|
|   MIA|           18|
|   LGA|           18|
|   SLC|           18|
|   SJC|           18|
|   ATL|           18|
+------+-------------+
only showing top 20 rows

In [37]:
# Query Origin with weather delay - weather delay =18
df_all.select("ORIGIN", "DEST", "DISTANCE").filter("DISTANCE > 4982").show(5)

+------+----+--------+
|ORIGIN|DEST|DISTANCE|
+------+----+--------+
|   HNL| JFK|    4983|
|   JFK| HNL|    4983|
|   HNL| JFK|    4983|
|   JFK| HNL|    4983|
|   JFK| HNL|    4983|
+------+----+--------+
only showing top 5 rows

**Data Preparation for ML Model**

In [11]:
#dayofweek() function extracts day of a week by taking date as input. 
#Day of week ranges from 1 to 7. (1- Sunday , 2- Monday …… 7- Saturday)
#https://www.datasciencemadesimple.com/get-day-of-month-day-of-year-day-of-week-from-date-in-pyspark/

from pyspark.sql.functions import *
from pyspark.sql.functions import year, month, dayofweek
df_all = df_all.withColumn('dayOfWeek', dayofweek(col('FL_DATE')))
df_all = df_all.withColumn('month', month(col('FL_DATE')))
df_all = df_all.withColumn('year', year(col('FL_DATE')))

In [12]:
# Checking if columns are created
df_all.printSchema()

root
 |-- FL_DATE: timestamp (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- CRS_DEP_TIME: integer (nullable = true)
 |-- DEP_TIME: integer (nullable = true)
 |-- DEP_DELAY: integer (nullable = true)
 |-- TAXI_OUT: integer (nullable = true)
 |-- WHEELS_OFF: integer (nullable = true)
 |-- WHEELS_ON: integer (nullable = true)
 |-- TAXI_IN: integer (nullable = true)
 |-- CRS_ARR_TIME: integer (nullable = true)
 |-- ARR_TIME: integer (nullable = true)
 |-- ARR_DELAY: integer (nullable = true)
 |-- CANCELLED: integer (nullable = true)
 |-- CANCELLATION_CODE: integer (nullable = true)
 |-- DIVERTED: integer (nullable = true)
 |-- CRS_ELAPSED_TIME: integer (nullable = true)
 |-- ACTUAL_ELAPSED_TIME: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)
 |-- CARRIER_DELAY: integer (nullable = true)
 |-- WEATHER_DELAY: integer (nullable = true)
 |-- NAS_DELAY: integer (nullable = true)
 |-- SECURITY_DELAY: integer (nullable = true)
 |-- LATE_AIRCRAFT_DELAY: integer (nullable = true)
 |-- Unnamed: 27: string (nullable = true)
 |-- FOP_CARRIER_FL_NUM: integer (nullable = true)
 |-- dayOfWeek: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)

In [16]:
#checking if columns are correct
df_all.limit(10).toPandas()

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27,FOP_CARRIER_FL_NUM,dayOfWeek,month,year
0,2016-01-24,WN,1030,RDU,BWI,2015,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,1030,1,1,2016
1,2016-01-25,AA,1043,EWR,ORD,730,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,1043,2,1,2016
2,2016-02-08,AA,1086,BOS,MIA,1705,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,1086,2,2,2016
3,2016-02-16,B6,115,SYR,JFK,545,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,115,3,2,2016
4,2016-02-24,UA,1285,IAH,ORD,1545,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,1285,4,2,2016
5,2016-01-23,DL,1289,LGA,PBI,1046,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,1289,7,1,2016
6,2016-01-21,WN,1335,MDW,RDU,2130,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,1335,5,1,2016
7,2016-01-25,WN,1340,BUF,BWI,1815,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,1340,2,1,2016
8,2016-01-23,B6,1383,BOS,RDU,832,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,1383,7,1,2016
9,2016-01-24,WN,1412,BNA,BWI,840,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,None,1412,1,1,2016

In [13]:
#Removing Using Logical expression
#Here we are going to use the logical expression to filter the row. 
#Filter() function is used to filter the rows from RDD/DataFrame based on the given condition or SQL expression.
    
#importing module
import pyspark
  
# importing sparksession from pyspark.sql
# module
from pyspark.sql import SparkSession
  
# spark library import
import pyspark.sql.functions
  
# creating sparksession and giving an app name
spark = SparkSession.builder.appName('sparkdf').getOrCreate()

df_all = df_all.filter(df_all.DIVERTED != "1")  
df_all = df_all.filter(df_all.CANCELLED != "1")

In [14]:
# Query to see if we have any further cancelled = 1
df_all.select("CANCELLED").filter("CANCELLED == 1").show(5)

+---------+
|CANCELLED|
+---------+
+---------+

In [44]:
# Query to see if we have any further cancelled = 1
df_all.select("DIVERTED").filter("DIVERTED == 1").show(5)

+--------+
|DIVERTED|
+--------+
+--------+

In [14]:
#Selecting data to be used for ML Model

df_all = df_all.select('dayOfWeek','month','year','OP_CARRIER','OP_CARRIER_FL_NUM','ORIGIN','DEST','DEP_DELAY','AIR_TIME','DISTANCE')
df_all.show()

+---------+-----+----+----------+-----------------+------+----+---------+--------+--------+
|dayOfWeek|month|year|OP_CARRIER|OP_CARRIER_FL_NUM|ORIGIN|DEST|DEP_DELAY|AIR_TIME|DISTANCE|
+---------+-----+----+----------+-----------------+------+----+---------+--------+--------+
|        7|    3|2016|        AS|               62|   SIT| KTN|      -24|      38|     183|
|        5|    3|2016|        AS|              649|   LAS| BLI|      -23|     135|     954|
|        6|    1|2016|        DL|             1485|   LGA| MCO|      -21|     145|     950|
|        1|    2|2016|        AA|             1350|   STT| MIA|      -20|     154|    1107|
|        3|    1|2016|        AS|              829|   SAN| OGG|      -20|     328|    2541|
|        5|    2|2016|        AS|               65|   PSG| JNU|      -19|      26|     123|
|        3|    2|2016|        AS|               60|   JNU| KTN|      -19|      40|     234|
|        7|    2|2016|        AA|             1588|   JAC| DFW|      -19|     126|    1047|
|        7|    1|2016|        UA|             1685|   LIH| DEN|      -19|     372|    3414|
|        2|    1|2016|        NK|              727|   LBE| FLL|      -18|     150|     980|
|        1|    1|2016|        EV|             4392|   MKE| IAH|      -18|     154|     984|
|        7|    2|2016|        F9|             1224|   LAS| MCO|      -18|     220|    2039|
|        5|    2|2016|        UA|              732|   SAT| IAH|      -17|      33|     191|
|        3|    2|2016|        DL|             1063|   SLC| BZN|      -17|      51|     347|
|        3|    1|2016|        F9|              332|   DEN| MSP|      -17|      86|     680|
|        6|    1|2016|        F9|             1114|   LAS| CLE|      -17|     216|    1824|
|        1|    2|2016|        AS|              830|   HNL| SJC|      -17|     278|    2417|
|        7|    1|2016|        EV|             2767|   GRK| DFW|      -16|      28|     134|
|        2|    2|2016|        EV|             4367|   IAH| AEX|      -16|      32|     190|
|        6|    1|2016|        AA|             2385|   SAT| DFW|      -16|      40|     247|
+---------+-----+----+----------+-----------------+------+----+---------+--------+--------+
only showing top 20 rows

In [15]:
df_all.printSchema()

root
 |-- dayOfWeek: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEP_DELAY: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)

In [16]:
df_machine = df_all

In [17]:
df_machine.cache()

DataFrame[dayOfWeek: int, month: int, year: int, OP_CARRIER: string, OP_CARRIER_FL_NUM: string, ORIGIN: string, DEST: string, DEP_DELAY: int, AIR_TIME: int, DISTANCE: int]

In [19]:
df_machine.count()

16614435

In [18]:
df_machine = df_machine.dropDuplicates()

In [21]:
df_machine.count()

5538145

**Numerical Correalations**

The below code was taken directly from the class Tutorial 6, to check correalations prior to encoding and indexing

In [19]:
numerical = ['dayOfWeek','month','year','DEP_DELAY','AIR_TIME','DISTANCE']

In [20]:
n_numerical = len(numerical)

corr = []

for i in range(0, n_numerical):
    temp = [None] * i
    
    for j in range(i, n_numerical):
        temp.append(df_all.corr(numerical[i], numerical[j]))
    corr.append(temp)
    
corr

[[1.0,
  0.004830381078527836,
  nan,
  0.0026217256049416784,
  0.009874313818922016,
  0.009688651157773356],
 [None,
  1.0,
  nan,
  0.01088926497737125,
  -0.002152715727768148,
  0.002177950017452375],
 [None, None, nan, nan, nan, nan],
 [None, None, None, 1.0, 0.023101389536391022, 0.024353345647062156],
 [None, None, None, None, 1.0, 0.9857032493741889],
 [None, None, None, None, None, 1.0]]

In [21]:
cols = df_machine.columns

**Encoding & Indexing**

The process includes Category Indexing, One-Hot Encoding and VectorAssembler — a feature transformer that merges multiple columns into a vector column.

The below code are taken from databricks’ official site and it indexes each categorical column using the StringIndexer, then converts the indexed categories into one-hot encoded variables. The resulting output has the binary vectors appended to the end of each row. We use the StringIndexer again to encode our labels to label indices. Next, we use the VectorAssembler to combine all the feature columns into a single vector column.

In [22]:
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler

categoricalColumns = ['ORIGIN','DEST','OP_CARRIER']
stages = []
for categoricalCol in categoricalColumns:
    stringIndexer = StringIndexer(inputCol = categoricalCol, outputCol = categoricalCol + 'Index')
    encoder = OneHotEncoder(inputCols=[stringIndexer.getOutputCol()], outputCols=[categoricalCol + "classVec"])
    stages += [stringIndexer, encoder]
label_stringIdx = StringIndexer(inputCol = 'OP_CARRIER', outputCol = 'label')
stages += [label_stringIdx]
numericCols = ['DISTANCE','AIR_TIME']
assemblerInputs = [c + "classVec" for c in categoricalColumns] + numericCols
assembler = VectorAssembler(inputCols=assemblerInputs, outputCol="features")
stages += [assembler]
#assembler.setHandleInvalid("skip").transform(df_machine).show

**Build a data processing pipeline**

A pipeline is very convenient to maintain the structure of the data. You push the data into the pipeline. Inside the pipeline, various operations are done, the output is used to feed the algorithm.
For instance, one universal transformation in machine learning consists of converting a string to one hot encoder, i.e., one column by a group. One hot encoder is usually a matrix full of zeroes.
The steps to transform the data are very similar to scikit-learn. You need to:

Index the string to numeric
Create the one hot encoder
Transform the data

In [23]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = stages)
pipelineModel = pipeline.fit(df_machine)
df_machine = pipelineModel.transform(df_machine)
selectedCols = ['label', 'features'] + cols
df_machine = df_machine.select(selectedCols)
df_machine.printSchema()

root
 |-- label: double (nullable = false)
 |-- features: vector (nullable = true)
 |-- dayOfWeek: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- OP_CARRIER: string (nullable = true)
 |-- OP_CARRIER_FL_NUM: string (nullable = true)
 |-- ORIGIN: string (nullable = true)
 |-- DEST: string (nullable = true)
 |-- DEP_DELAY: integer (nullable = true)
 |-- AIR_TIME: integer (nullable = true)
 |-- DISTANCE: integer (nullable = true)

**Train & Test Data**

we now have features column and label column.
Randomly split data into train and test sets, and set seed for reproducibility.
randomSplit() splits the Data Frame randomly into train and test sets. Here I set the seed for reproducibility. 0.7 and 0.3 are weights to split the dataset given as a list and they should sum up to 1.0.

In [24]:
#Randomly split data into train and test sets, and set seed for reproducibility.
train, test = df_machine.randomSplit([0.7, 0.3], seed = 2018)
print("Training Dataset Count: " + str(train.count()))
print("Test Dataset Count: " + str(test.count()))

Training Dataset Count: 3856260
Test Dataset Count: 1651263

**Random Forrest Classification**

Now I can import and apply random forest classifier. Random forest is a method that operates by constructing multiple decision trees during the training phase. The decision of the majority of the trees is chosen by the random forest as the final decision.

It comes under supervised learning and mainly used for classification but can be used for regression as well. Random forest classifier is useful because,
-No overfitting
-High accuracy
-Estimates missing data

https://towardsdatascience.com/a-guide-to-exploit-random-forest-classifier-in-pyspark-46d6999cb5db

In [25]:
#Here featuresCol is the list of features of the Data Frame
#in our case it is the features column. labelCol is the targeted feature which is labelIndex. 
#rf.fit(train) fits the random forest model to our input dataset named train. 
#rfModel.transform(test) transforms the test dataset. 
#This will add new columns to the Data Frame such as prediction, rawPrediction, and probability.

from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(featuresCol = 'features', labelCol = 'label')
rfModel = rf.fit(train)
predictions = rfModel.transform(test)
predictions.select('DISTANCE','AIR_TIME','label', 'rawPrediction', 'prediction', 'probability').show(10)

+--------+--------+-----+--------------------+----------+--------------------+
|DISTANCE|AIR_TIME|label|       rawPrediction|prediction|         probability|
+--------+--------+-----+--------------------+----------+--------------------+
|    1199|     153|  0.0|[6.75537850932540...|       0.0|[0.33776892546627...|
|    1946|     282|  0.0|[6.75537850932540...|       0.0|[0.33776892546627...|
|    1587|     210|  0.0|[6.75537850932540...|       0.0|[0.33776892546627...|
|    1587|     217|  0.0|[6.75537850932540...|       0.0|[0.33776892546627...|
|    1747|     232|  0.0|[6.75537850932540...|       0.0|[0.33776892546627...|
|     907|     124|  0.0|[6.37971820682752...|       0.0|[0.31898591034137...|
|     907|     128|  0.0|[6.37971820682752...|       0.0|[0.31898591034137...|
|     404|      59|  0.0|[6.86508143811711...|       0.0|[0.34325407190585...|
|     404|      60|  0.0|[6.86508143811711...|       0.0|[0.34325407190585...|
|     404|      61|  0.0|[6.86508143811711...|       0.0|[0.34325407190585...|
+--------+--------+-----+--------------------+----------+--------------------+
only showing top 10 rows

In [26]:
#We can clearly compare the actual values and predicted values with the output below.
predictions.select("label", "prediction").show(20)

+-----+----------+
|label|prediction|
+-----+----------+
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
+-----+----------+
only showing top 20 rows

**Evaluation**

MulticlassClassificationEvaluator is the evaluator for multi-class classifications. Since we have 2 classes (DISTANCE|AIR_TIME) we need MulticlassClassificationEvaluator. The method evaluate() is used to evaluate the performance of the classifier.

In [27]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = MulticlassClassificationEvaluator(labelCol="label", predictionCol="prediction")
accuracy = evaluator.evaluate(predictions)
print("Accuracy = %s" % (accuracy))
print("Test Error = %s" % (1.0 - accuracy))

Accuracy = 0.7996982374928976
Test Error = 0.2003017625071024

**Confusion Matrix**

MulticlassMetrics is an evaluator for multiclass classification in the pyspark mllib library.

In [28]:
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.sql.types import FloatType
import pyspark.sql.functions as F

preds_and_labels = predictions.select(['prediction','label']).withColumn('label', F.col('label').cast(FloatType())).orderBy('prediction')
preds_and_labels = preds_and_labels.select(['prediction','label'])
metrics = MulticlassMetrics(preds_and_labels.rdd.map(tuple))
print(metrics.confusionMatrix().toArray())

[[3.82148e+05 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]
 [4.25000e+02 2.72343e+05 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]
 [0.00000e+00 0.00000e+00 2.69213e+05 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]
 [0.00000e+00 0.00000e+00 1.72000e+02 1.77073e+05 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]
 [3.86500e+03 2.00000e+00 1.04000e+02 0.00000e+00 1.56416e+05 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]
 [1.22640e+05 1.72160e+04 2.36000e+02 0.00000e+00 0.00000e+00 2.06700e+03
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]
 [1.27860e+04 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  7.04200e+04 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]
 [4.42530e+04 2.14000e+02 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 8.27200e+03 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]
 [2.13000e+02 7.80000e+01 1.07000e+02 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 4.01400e+04 0.00000e+00 0.00000e+00 0.00000e+00]
 [2.58990e+04 6.94000e+02 3.06000e+02 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 1.02300e+03 0.00000e+00 0.00000e+00]
 [6.59000e+02 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 2.17960e+04 0.00000e+00]
 [2.04830e+04 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00
  0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00 0.00000e+00]]